* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
}

header {
  background-color: rgb(67, 65, 65);
  padding: 15px 20px;
}
/* Meus itens de navegação */
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
}
.logo {
  color: white;
  font-size: 15px;
  text-transform: uppercase;
}
.nav-list ul {
  list-style: none;
  display: flex;
}
.nav-item {
  margin-left: 30px;
  text-decoration: none;
}
.nav-item a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}
.logui-button {
  padding: 8px 15px;
  background-color: #0084ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.logui-button a {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font: 1.1rem;
}
.logui-button:hover {
  background-color: #006fd6;
}
.mobile-menu-icon {
  display: none;
}
.mobile-menu {
  display: none;
}
.butom-img img {
  width: 30px;
}
.butom-img {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

/* Estilos para telas menores */
@media screen and (max-width: 730px) {
  .nav-bar {
    padding: 1.5rem 4rem;
  }
  .nav-item {
    display: none;
  }
  .logui-button {
    display: none;
  }
  .mobile-menu-icon {
    display: block;
    cursor: pointer;
  }
  .mobile-menu ul {
    list-style: none;
    display: block;
    padding: 10px;
    text-align: center;
  }
  .mobile-menu .nav-item {
    display: block;
    padding-top: 1.2rem;
  }
  .sub {
    display: block;
    width: 50%;
  }
  .botaoSub {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  .open {
    display: block;
  }
}
