:root {
  /* cores fáceis de alterar */
  --bg: #f4f7ff;
  --card: #ffffff;
  --accent: #3461d9;
  --text: #0b2438;
  --muted: #556277;
  --border: #c4c6c9;
}

/* reset / base */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Inter, Arial, sans-serif;
  font-size: 20px;

  background-color: rgb(46, 147, 248);

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* container principal */
.conteiner {
  width: 40vw;

  margin: 0 auto;
  padding: 20px;

  background: var(--card);
  border-radius: 12px;
  box-shadow: 0 12px 34px rgba(52, 97, 217, 0.1);
}

/* título */
.title {
  text-align: center;
  padding: 50px;
}
.title h1 {
  color: #fff;
  font-size: 1.5em;
  margin: 0 auto;
}

/* cada bloco do form */
.conteiner form section {
  margin-bottom: 15px;
}

/* labels */
label {
  display: block;
  font-size: 0.95rem;
  color: black;
  margin-bottom: 6px;
  padding: 10px;
}

/* inputs comuns */
input {
  width: 100%;
  padding: 10px 12px;

  border-radius: 8px;
  border: 1px solid var(--border);
  background: #fff;
  font-size: 0.95rem;
}

button {
  border-radius: 8px;
  font-weight: 600px;
  border: 0;

  margin-top: 10px;

  cursor: pointer;
  padding: 10px 14px;
}
.btn-enviar {
  background: var(--accent);
  color: #f9f5f5;
}
.btn-limpar {
  background-color: #6a6a6b;
  color: white;
  border: 1px solid var(--border);
}

/* mensagem de retorno */
.caixaMensagem {
  padding: 10px;
  font-size: 17px;
  /* background-color: rgb(246, 248, 249); */
}

/* responsivo min-width */

@media (max-width: 600px) {
  .conteiner {
    text-align: center;
    width: 90vw;
    font-size: 10px;
  }
  input {
    width: 80%;
  }
  label {
    font-size: 1.6em;
  }
}
