*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    padding: 15px;

    display: flex;
    gap: 15px;
    flex-direction: column;
}

header,
main,
footer,
.posicao{
    flex: 1;
}

header,main,footer{
    display: flex;
    gap: 20px;
}

.posicao{
    display: flex;
    align-items: center;
    justify-content: space-around;

    border: 4px solid black;
}