*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    background-color: lightgrey;
    color:rgb(255, 255, 255);
}
.FAQ{
    background: rgb(0, 0, 0);

    max-width: 600px;
    min-width: 350px;
    
    margin: 100px auto;
    padding: 20px;
    border-radius: 5px;
}
h1{
    text-align: center;
    margin:0 0 30px;

}
details{
    background-color: blue;

    border-radius: 15px;
    margin-bottom: 20px;
}
summary{
    cursor:pointer;

    padding: 10px;
    font-size: 1.1em;
}
summary img{
    width: 50px;
    vertical-align: middle;
    margin-right: 10px;
    border-radius: 10px;
}
.details-content{
    padding: 15px;
    padding-top: 0;
}
.details-content p {
    line-height: 1.5;
}
.details-content img{
    width: 100%;
    margin-top: 15px;
}
.details-content ul {
    margin-left: 20px;
    list-style-type: circle;
}

